<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
	<title>Trait Space Grade One</title>
	<link href="gradetwo.css" rel="stylesheet" type="text/css" />
	<!--[if IE 7]>
	    <link rel="stylesheet" type="text/css" href="gradetwo_ie7.css" />
	<![endif]-->

</head>
<body id="grade_rc">

<div id="container">
	<div id="header">
	<div id="leftimage">
    	<a href="../index.html" target="_self"><img src="images/home.png" alt="Trait Space Home" width="335" height="62" hspace="0" vspace="0" border="0" align="left"></a>
    </div>
   	<div id="navigation">
            <ul class="cssmenu">
                <li class="grade_k"><a href="../kindergarten/kindergarten.html" target="_self" alt="K"><span class="displace">K</span></a></li>
                <li class="grade_1"><a href="../gradeone/gradeone.html" target="_self" alt="1"><span class="displace">1</span></a></li>
                <li class="grade_2"><a href="../gradetwo/gradetwo.html" target="_self" alt="2"><span class="displace">2</span></a></li>
                <li class="grade_3"><a href="../gradethree/gradethree.html" target="_self" alt="3"><span class="displace">3</span></a></li>
                <li class="grade_4"><a href="../gradefour/gradefour.html" target="_self" alt="4"><span class="displace">4</span></a></li>
                <li class="grade_5"><a href="../gradefive/gradefive.html" target="_self" alt="5"><span class="displace">5</span></a></li>

	    </ul>
	</div>
	</div>
    <div id="menu-left">
	    <ul class="sectionmenu grade1">
                  <li class="sectionmenuline grade1"><a id="sectionmenu_fo" href="gradeone_fo.html" target="_self"><span>Family Outreach</span></a></li>
                  <li class="sectionmenuline grade1"><a id="sectionmenu_gw" href="gradeone.html" target="_self"><span>Handwriting</span></a></li>
                  <li class="sectionmenuline grade1"><a id="sectionmenu_lp" href="gradeone.html" target="_self"><span>Lesson Pages</span></a></li>
                  <li class="sectionmenuline grade1"><a id="sectionmenu_mv" href="gradeone.html" target="_self"><span>Mentor Videos</span></a></li>
                  <li class="sectionmenuline grade1"><a id="sectionmenu_rc" href="gradeone.html" target="_self"><span>Reality Checks</span></a></li>
                  <li class="sectionmenuline grade1"><a id="sectionmenu_rk" href="gradeone.html" target="_self"><span>Record-Keeping Forms</span></a></li>
                  <li class="sectionmenuline grade1"><a id="sectionmenu_sg" href="gradeone.html" target="_self"><span>Scoring Guides</span></a></li>
                  <li class="sectionmenuline grade1"><a id="sectionmenu_ss" href="gradeone_ss.html" target="_self"><span>Songs</span></a></li>
                  <li class="sectionmenuline grade1"><a id="sectionmenu_ub" href="gradeone.html" target="_self"><span>Unit Benchmark Papers</span></a></li>
            </ul>
    </div>


    <div id="content">
            	<h1>Reality Checks</h1>
            	<h2>Mode Outline</h2> <p><a href="kindergarten.html" target="_self">The Purpose of Narrative Writing </a></p>
            	<p><a href="kindergarten.html" target="_self">The Purpose of Expository Writing  </a></p>

             	 <h2>Mode Benchmark Papers</h2>
				<p><a href="reality1.html" target="_self">Reality Check 1 </a></p>
				<p><a href="reality2.html" target="_self">Reality Check 2 </a></p>
				<p><a href="reality3.html" target="_self">Reality Check 3 </a></p>
				<p><a href="reality4.html" target="_self">Reality Check 4 </a></p>
				<p><a href="reality5.html" target="_self">Reality Check 5 </a></p>
				<p><a href="reality6.html" target="_self">Reality Check 6 </a></p>


    			<div id="footer">
    				<img src="images/logo.png" alt="Scholastic Logo" width="337" height="22" hspace="0" vspace="0" border="0">
   					 <br />&#8482; &amp; &copy; 2011 Scholastic Inc. All Rights Reserved.
    			</div>
     </div>
</div>
</body>
</html>

