<!-- SOAP version -->
<table border="0" cellpadding="0" cellspacing="0" width="100%" valign="top">
    <tr>
        <td colspan="2">
            <font size="4">
            <b>
            <img height="20" width="10" src="/nbk-ol/images/ebsco/spacer.gif" border="0">
            <a name="Top of Article"></a>
            <font size="4" face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular">
            <b><!-- %%ENTRYTITLE%% --></b>
            </font>
        </td>
    </tr>
    <tr>
        <td>
            <img height="20" width="10" src="/nbk-ol/images/ebsco/spacer.gif" border="0">
        </td>
        <td>
        </td>
    </tr>

    <tr>
        <td>
            <img height="0" width="5" src="/nbk-ol/images/ebsco/spacer.gif" border="0">
        </td>
        <td width = "95%">
            <hr>
            <img height="20" width="10" src="/nbk-ol/images/ebsco/spacer.gif" border="0">
            <font size="4" face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular">
            <!-- %%AUTHOR%% -->&quot;<!-- %%ENTRYTITLE%% -->&quot; <i> <!-- %%JOURNALTITLE%% --></i>
            <!-- %%ENUM%% -->
            </font>
            <br>
            <hr>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <img height="15" width="540" src="/nbk-ol/images/common/spacer.gif">
        </td>
    </tr>
    <tr>			
        <td>
            <img height="20" width="10" src="/nbk-ol/images/ebsco/spacer.gif" border="0">
        </td>
        <td>
            <font size="-1" face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular">

            <!-- %%BODY%% -->

            </font>
            <br>                                
        </td>
    </tr>
    <tr>			
        <td>
            <img height="20" width="10" src="/nbk-ol/images/ebsco/spacer.gif" border="0">
        </td>
        <td>
            <font size="-1" face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular">
            <p><a href="#Anchor">Top of Article</a></p>
            </font>
            <font size="-2" face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular">
            <p>Copyright of "<!-- %%JOURNALTITLE%% -->" is the property of 
            <!-- %%JOURNALTITLE%% --> and its  content may not be copied without
            the copyright holder's express written permission except
            for the print or download capabilities of the retrieval
            software used for access. This content is intended solely
            for the use of the individual user.</p>
            <p>Periodical data provided by EBSCO Content Solutions.</p>
            </font>
            <p>&nbsp;</p>
        </td>
    </tr>
</table>

