<a href="javascript:OpenBlurbWindow('/cgi-bin/doebsco?templateName=/ebsco/doebsco_article.html&assetid=<!-- %%ASSETID%% -->&product=<!-- %%PRODUCT%% -->&StartRecNo=<!-- %%RECORDID%% -->&editfield1=<!-- %%EDITFIELD1%% -->', 580, 425,'periodical', 'on')">
<!-- %%RECORDID%% -->.   <!-- %%AUTHOR%% --> &quot;<!-- %%ENTRYTITLE%% -->&quot; <i> <!-- %%JOURNALTITLE%% --></i>   <!-- %%ENUM%% --></font></a><br>
<p> 
<!-- %%ABSTRACT%% --> <!-- %%PDFLINK%% -->
</p><br>

