<!-- indexfooter.tmpl -->

                </td>
            </tr>
        </table>
        <!-- END OF CONTENT BLOCK -->

    </td>
</tr>			
<tr>
    <td>	
        <center>

        <!-- PAGINATION BLOCK -->   
        <table border="0" border="0" cellpadding="0" cellspacing="10" width="553">
            <tr>	       
                <td align="center"> 
                </td> 
            </tr> 
            <tr>
                <td>
                    <div align="left">
                    <font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular">
                    <!-- %%PREV%% --><!-- %%SPACER%% --><!-- %%NEXT%% -->
                    </font>
                    </div>
                </td>
            </tr>
        </table>
        <!-- END OF PAGINATION BLOCK -->   

<!-- end of indexfooter.tmpl -->
