<a href="/cgi-bin/doebsco?templateName=/ebsco/doebsco_article.html&assetid=<!-- %%ASSETID%% -->&product=<!-- %%PRODUCT%% -->&StartRecNo=<!-- %%RECORDID%% -->&editfield1=<!-- %%EDITFIELD1%% -->">
<!-- %%RECORDID%% -->.   <!-- %%AUTHOR%% --> &quot;<!-- %%ENTRYTITLE%% -->&quot; <i> <!-- %%JOURNALTITLE%% --></i>   <!-- %%ENUM%% --></a><br>
<p> 
<!-- %%ABSTRACT%% --> <!-- %%PDFLINK%% -->
</p><br>

