<tr>
	<td width="15"><img src="/images/go2-kids/common/shim.gif" height="10" width="15" alt="" title=""></td>
	<td width="99%"><a href="javascript:thePopup.blurbWindow('<!-- %%EBSCO_SERVER%% -->/php/ebsco/ebsco-go2.php?product=go2-kids&editfield1=<!-- %%EDITFIELD1%% -->&StartRecNo=<!-- %%RECORDID%% -->&NoRec=1', '600', '600', 'ebsco', 'off');" class="searchresulttitle"><!-- %%RECORDID%% -->. <!-- %%AUTHOR%% -->&quot;<!-- %%ENTRYTITLE%% -->&quot; <i><!-- %%JOURNALTITLE%% --></i>, <!-- %%ENUM%% --></a><br>
	<span class="abstract"><b>Abstract:</b> <!-- %%ABSTRACT%% --></span><br><br></td>
</tr>


