
<!-- OUTPUT BLOCK -->
<table border="0" cellpadding="0" cellspacing="0">
	<tr>
       <td>
           <img height="30" width="1" src="/nbk-ol/images/ebsco/spacer.gif" border="0">
           <font size="2" face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular">
           <b><!-- %%TOTALHITS%% --> documents found</b></font><p>
       </td>
   </tr>
   <tr>
       <td>

           <!-- CONTENT BLOCK -->
           <table border="0" border="0" cellpadding="10" align="left" valign="top">
               <tr>
                   <td>
                   </td>
               </tr>
               <tr>
                   <td>

