<td width="40%" valign="bottom"><!-- %%TOTALHITS%% --> documents found</td>

<!--
<td width="40%" valign="bottom">
<a href="/cgi-bin/article?assetid=0061000-0">Back to article: China </a></td>
-->

<td valign="bottom"><a class="ibaby" href="javascript:OpenBlurbWindow('/static/ebsco/about_periodicals.html', 570, 400, 'About', 'off');">About Periodical Links</a>

</td></tr>

<tr><td colspan="3"><br>

