<td width="40%" valign="bottom"><!-- %%TOTALHITS%% --> documents found</td>
<td valign="bottom"><a class="ibaby" href="javascript:OpenBlurbWindow('/static/ebsco/nbk3_about_periodicals.html', 620, 400, 'About', 'off');">About Periodical Links</a></td>

<!-- OUTPUT BLOCK -->
<table border="0" cellpadding="0" cellspacing="0">
   <tr>
       <td>
           <!-- CONTENT BLOCK -->
           <table border="0" border="0" cellpadding="10" align="left" valign="top">
               <tr>
                   <td>
                   </td>
               </tr>
               <tr>
                   <td>

