<a href="javascript:thePopup.newWindow('<!-- %%PDFLINK%% -->', 725 , 600 , 'ebsco', 'yes', 'yes', 'no', 'no', 'no', 'no');" class="searchresulttitle"><!-- %%RECORDID%% -->. <!-- %%AUTHOR%% --> &quot;<!-- %%ENTRYTITLE%% -->&quot; <i><!-- %%JOURNALTITLE%% --></i>, <!-- %%ENUM%% --></a><br>
<p class="abstract">
<!-- %%ABSTRACT%% --> <!-- %%PDF%% -->
</p><br>

