<tr>
        <td width="15"><img src="/images/go2-kids/common/shim.gif" height="10" width="15" alt="" title=""></td>
        <td width="99%"><a href="javascript:thePopup.newWindow('<!-- %%PDFLINK%% -->', 725 , 600 , 'ebsco', 'yes', 'yes', 'no', 'no', 'no', 'no');" class="searchresulttitle"><!-- %%RECORDID%% -->. &quot;<!-- %%ENTRYTITLE%% -->&quot; <i><!-- %%JOURNALTITLE%% --></i>, <!-- %%ENUM%% --></a><br>
        <span class="abstract"><b>Abstract:</b> <!-- %%ABSTRACT%% --> <!-- %%PDF%% --></span><br><br></td>
</tr>
