/* body */
body {
	color: #535353;
	font-family: arial;
	font-size: 12px;
	font-variant: normal;
	font-weight: normal;
	font-style: normal;
	background-color: #98A367;
	background-image: url(/images/gradeeight/background8.jpg);
	background-repeat: repeat-x;
	margin-top: 0px;
	margin-left: -10px;
	text-align: center;
}

hr {
	height: 0px;
	border-top: 0;
	border-right: 0px;
	border-bottom: thin #98a367 solid;
	border-left: 0px;
}
h1{
	color: #00679d;
	font-size: 25px;
	margin-left: 20px;
	line-height: 110%;
}

h2 {
	font-size: 14px;
	font-weight: bold;
	margin-left: 40px;
	padding-top: 12px;
	line-height: 110%;
}
p{
	text-align: left;
	margin-left: 60px;
	line-height: 100%;
}
#navigation {
	width: 640px;
	text-align: center;
	z-index: 2;
	float: right;
	position: absolute;
	margin-top: 0px;
    margin-left: 440px;
    padding: 0px;
}

/*   ######################################   */

/*
*	Setup CSS Top Menu
*/

ul.cssmenu {
	float:left;
	list-style: none;
	padding: 0px;
	margin: 0px;
}



ul.cssmenu2 {
	list-style: none;
	padding: 0px;
}

.displace {
	position: absolute;
	left: -5000px;
}

ul.cssmenu li { float: left; }

ul.cssmenupage li a {
	display: block;
	width: 491px;
	height: 50px;
	background-image: url('/images/gradeeight/8.png');
}

ul.cssmenu li a {
	display: block;
	width: 43px;
	height: 50px;
	background-image: url('/images/gradeeight/8.png');
}

/*
*	Normal Links
*/

ul.cssmenu li.grade_k a { background-position: 0px 0; width: 55px; }
ul.cssmenu li.grade_1 a { background-position: -55px 0; }
ul.cssmenu li.grade_2 a { background-position: -98px 0; }
ul.cssmenu li.grade_3 a { background-position: -141px 0; }
ul.cssmenu li.grade_4 a { background-position: -185px 0;}
ul.cssmenu li.grade_5 a { background-position: -229px 0; }
ul.cssmenu li.grade_6 a { background-position: -273px 0; }
ul.cssmenu li.grade_7 a { background-position: -317px 0; }
ul.cssmenu li.grade_8 a { background-position: -362px 0; width: 151px;}

/*
*	Hover Links
*/

ul.cssmenu li.grade_k a:hover { background-position: 0px -50px; width: 55px; }
ul.cssmenu li.grade_1 a:hover { background-position: -55px -50px; }
ul.cssmenu li.grade_2 a:hover { background-position: -98px -50px; }
ul.cssmenu li.grade_3 a:hover { background-position: -141px -50px; }
ul.cssmenu li.grade_4 a:hover { background-position: -185px -50px;}
ul.cssmenu li.grade_5 a:hover { background-position: -229px -50px; }
ul.cssmenu li.grade_6 a:hover { background-position: -273px -50px; }
ul.cssmenu li.grade_7 a:hover { background-position: -317px  -50px}
ul.cssmenu li.grade_8 a:hover { background-position: -362px 0px; }


/*   ######################################   */
/*	Setup CSS Side Section Menu */
/*  ****************** */
ul.sectionmenu {
	list-style: none;
	float:left;
	margin:0;
	padding:0;
}
/*
ul.sectionmenu { text-indent: 0px; }
*/

ul.sectionmenu li {
	float:left;
	clear:both;
	margin:0;
	padding:0;
}

ul.sectionmenu  a {
	width:180px;
	border:0;
	display:block;
	float:left;
	margin:0;
	padding:0;
}

ul.sectionmenu li a span 
{
	display:block;
	font-size:12px;
	font-weight:700;
	line-height:35px;
	padding:0 12px;
/*	width: 182px;
*/	height: 39px;
}

#sectionmenu a:hover span,#sectionmenu li.item_active a span 
{
	background-position:left bottom;
	color:#78824d;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
}

ul.sectionmenu li.sectionmenuline a:hover {
	text-decoration: none;
	background-color: #e2eab7;
}

ul.sectionmenu li.sectionmenuline a:hover {
	background-image: url(/images/gradeeight/arrow8.gif);
	padding-left: 0px;
	background-repeat: no-repeat;
	background-position: 170px;
}

/* Modify selected page menu line */

#sectionmenu_active {
	border-bottom: thin solid;
	background-color: #e2eab7;
	background-image: url(/images/gradeeight/arrow8.gif);
	padding-top: 0px;
	background-repeat: no-repeat;
	background-position: 170px;
}

/*   ######################################   */
/* positioning */
#container {
	width: 960px;
	height: 700px;
	margin: 0px auto;
	background-repeat: no-repeat;
	line-height: 150%;
	padding: 0px;
	background-color: #788150;
	background-image: url(/images/gradeeight/background-image8.jpg);
}
/*left menu*/
#menu-left {
	width: 182px;
	text-align: left;
	z-index: 3;
	float: right;
	margin-top: 100px;
	margin-left: 42px;
	color: #7c835e;
	font-size: 14px;
	line-height: 15px;
	border-bottom: 0px #7c835e dashed;
	position: absolute;
}

#menu-left a {
	color: #7c835e;
	font-size: 15px;
	font-weight: bold;
}

/* content */

#content {
	width: 724px;
	text-align: left;
	z-index: 2;
	float: right;
	position: absolute;
	margin-top: 100px;
	margin-left: 225px;
	border: 0px;
	background-color: #FFF;
}


/* links */
a {
	text-decoration: none;
	color: #0000cc;
}

a:hover { text-decoration: underline; }

a:visited {
	text-decoration: none;
	color: #9966CC;
}

/* footer */

#footer {
	width: 724px;
	height: 80px;
	text-align: center;
	z-index: 3;
	position: relative;
	margin-top: 100px;
	border: 0px;
	font-size: 9px;
}


#sectionmenu_top_bottom {
	border-top: 2px solid;
} 

#sectionmenu_bottom {
border-bottom: thin solid;
}

#sectionmenu_bottom_active {
	background-color: #e2eab7;
	background-image: url(/images/gradeeight/arrow8.gif);
	padding-top: 0px;
	background-repeat: no-repeat;
	background-position: 170px;
}

#sectionmenu_top_active {
	background-color: #e2eab7;
	background-image: url(/images/gradeeight/arrow8.gif);
	padding-top: 0px;
	background-repeat: no-repeat;
	background-position: 170px;
	border-top: 2px solid;
}

.pdBlock {
	width: 300px;
	margin-left: 40px;
	margin-top: 1px;
}

#content table {
	margin-left: 20px;
	margin-right: 20px;
}
table.pdLive678 h2 {
	margin-left: 20px;
	}
.pdBlock h3 { height: 34px; }